form(action="/book/" + book._id + "/edit" method="POST")
  label(for="title") Title
  input(type="text" name="title" value=book.title)
  label(for="author") Author
  input(type="text" name="author" value=book.author)
  label(for="description") Description
  textarea(name="description" value=book.description)
  input(type="submit" value="save" class="button")
